.pdf-importer {
  display: flex;
  flex-direction: column;
}

.pdfJson {
  flex-grow: 1;
  margin-bottom: 1em;
}

#pdftofoundry-importdialog nav {
  border: 1px solid white;
  background: black;
  flex: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
}

#pdftofoundry-importdialog nav>a {
  color: white;
  padding: 4px 0;
  font-size: 12px;
  position: relative;
}

#pdftofoundry-importdialog nav>a.active::after {
  bottom: -2px;
  right: 39%;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid white;
}

.pdftofoundry-content {
  height: 26rem;
  overflow-y: scroll;
  display: flex;
}


p {
  margin: 0.25em 0 0 0;
}

.supported-modules>p {
  text-align: left;
}

a:link {
  color: blue;
}